---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
# helm chart docs: https://github.com/Twinki14/palworld-server-chart/tree/main
# Docker image docs: https://github.com/thijsvanloef/palworld-server-docker
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: palworld
spec:
  interval: 30m
  chart:
    spec:
      chart: palworld
      version: 0.30.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: palworld-server
        namespace: flux-system

  values:
    # Server deployment annotations, labels, and resources limits
    #
    server:
      annotations: { }
      labels: { }
      resources:
        limits:
          cpu: 4
          memory: "12Gi"
        requests:
          cpu: 4
          memory: "8Gi"

      # Storage definitions related to the palworld-server
      #
      storage:
        externalName: "palworld-backup"
        main:
          external: true
          externalName: "palworld"

          # Keeps helm from deleting the PVC, by default helm does not delete pvcs
          #
          # preventDelete: false

          # size: 12Gi
          # storageClassName: ""

        # If not specified, the backups will be stored on the `main` storage
        #
        # Supports all storage types as defined by https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/volume/#Volume
        #
        # `persistentVolumeClaim` is a special case that matches the `main` storage in definition
        backups:
          persistentVolumeClaim:
            external: true
            externalName: "palworld-backup"

          # nfs:
        #   server: your.server.ip
        #   path: /path/to/remote/dir

        # Additional storage definitions
        #
        # Supports all storage types as defined by https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/volume/#Volume
        #
        # THe objects supports configuring the mount path and the subpath.
        # If external isn't true, the defined deletion prevention, storage class, and size will be used to create a new PVC
        extra: [ ]

        # An example of using an existing PVC at a subpath
        #
        # - name: existing-pvc
        #   mountPath: /existing-pvc
        #   subPath: test
        #   external: true
        #   persistentVolumeClaim:
        #     claimName: existing-pvc

        # An example of creating a new PVC of 5Gi
        #
        # - name: new-pvc
        #   mountPath: /new-pvc
        #   size: 5Gi
        #   preventDelete: false
        #   storageClassName: "my-storage-class"
        #   persistentVolumeClaim:
        #     claimName: new-pvc

        # An example of mounting a configmap with key `test.ini` as `config.ini` in /config
        #
        # - name: config
        #   mountPath: /config
        #   configMap:
        #     name: app-configfile
        #     items:
        #     - key: test.ini
        #       path: config.ini

        # An example of mounting a secret
        # - name: keys
        #   mountPath: /keys
        #   readOnly: true
        #   secret:
        #     secretName: app-keyfile

        # An example of mounting an nfs volume
        # - name: nfs
        #   mountPath: /data
        #   nfs:
        #     server: your.server.ip
        #     path: /path/to/dir

      # Docker image used for the palworld-server deployment
      #
      image:
        repository: thijsvanloef/palworld-server-docker
        tag: v2.3.0
        imagePullPolicy: IfNotPresent
        imagePullSecrets: [ ]

      # Server-related ports
      # Be sure your service.ports and config.ports matches this section
      #
      ports:
        - name: game
          containerPort: &gameport 8211
          protocol: UDP

        - name: query
          containerPort: &queryport 27015
          protocol: UDP

        - name: rcon
          containerPort: &rconport 25575
          protocol: TCP

      # Deployment strategy
      #
      strategy: Recreate

      # Liveness and readiness probes
      probes:
        liveness:
          exec:
            command:
              - sh
              - -c
              - pgrep PalServer-Linux > /dev/null || exit 1
          initialDelaySeconds: 30
        readiness:
          exec:
            command:
              - sh
              - -c
              - rcon-cli Info | grep -q "Welcome to Pal Server"
        initialDelaySeconds: 60

      # Container lifecycle
      terminationGracePeriodSeconds: 30
      lifecycle:
        preStop:
          exec:
            command:
              - bash
              - /usr/local/bin/backup

      # Service configuration
      #
      service:
        enabled: true
        annotations: { }
        labels: { }

        # For minikube, set this to NodePort, elsewhere use LoadBalancer
        # Use ClusterIP if your setup includes ingress controller
        #
        type: ClusterIP

        # Use if you need to create a TCP health check for load balancers on cloud services.
        #
        healthz:
          enabled: false
          name: healthz
          port: 80
          protocol: TCP
          targetPort: 80

        # Port definitions for the service
        # Be sure this matches the config section
        #
        ports:
          - name: game
            port: *gameport
            protocol: UDP
            targetPort: *gameport

          - name: query
            port: *queryport
            protocol: UDP
            targetPort: *queryport

          - name: rcon
            port: *rconport
            protocol: TCP
            targetPort: *rconport

      # Palworld-server specific configuration
      #
      config:
        annotations: { }
        labels: { }
        puid: 1000
        pgid: 1000
        port: *gameport
        query_port: *queryport
        max_players: 3
        multithreading: true
        rcon:
          enable: true
          port: *rconport

          # If not provided a random password will be generated and stored as a secret
          #
          password: ""

          # If provided, the password will be loaded from an existing secret
          externalPassword:
            # The name of the secret containing the rcon password
            name: "palworld-secret"
            # The key in the secret containing the rcon password
            key: "rconPassword"

        # Community server settings
        #
        community:
          enable: false
          #password: ""
          externalPassword:
           name: "palworld-secret"
           key: "communityPassword"

        # General server settings
        server_name: "The Republic of AuB"
        timezone: "UTC"
        public_ip: ""
        public_port: ""
        server_description: ""

        # Update or install the server when the container starts
        # Must be enabled when the container first starts
        #
        update_on_boot: true

        # Daily reboot configuration, disabled by default
        #
        daily_reboot:
          enable: true

          # Countdown in seconds to announce to players before the server is rebooted
          countdown_seconds: 30

          # UTC cron syntax for server reboot schedule, https://crontab.guru/
          # Defaults to 9:30am UTC
          #
          time: "30 9 * * *"

          # Name of the role and service account used to perform the daily reboot
          #
          role: "daily-reboot"
          serviceAccount: "daily-reboot"

        # Any additional environment variables related to the palworld-server-docker image
        # -- Note, it's recommended to wrap values of the environment variables in quotes
        # -- You can find a list of these environment variables in the palworld-server-docker readme
        # -- https://github.com/thijsvanloef/palworld-server-docker/tree/main
        #
        env:
          # When set to false the PalWorldServer.ini will be generated based on environment variables found here https://github.com/thijsvanloef/palworld-server-docker/blob/main/README.md
          #
          DISABLE_GENERATE_SETTINGS: "false"
          BACKUP_ENABLED: "true"
          # Backup at midnight, UTC time
          BACKUP_CRON_EXPRESSION: "0 0 * * *"
          DEATH_PENALTY: "Item"
          PAL_STAMINA_DECREASE_RATE: "0.7"
          PAL_STOMACH_DECREASE_RATE: "0.7"
          PLAYER_STAMINA_DECREASE_RATE: "0.7"
          PAL_EGG_DEFAULT_HATCHING_TIME: "48.0"
          BASE_CAMP_WORKER_MAX_NUM: "25"
          ENABLE_INVADER_ENEMY: "false"
          BASE_CAMP_MAX_NUM_IN_GUILD: "10"
