---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Test"

on:
  pull_request:
    branches:
      - main
    paths:
      - kubernetes/**

jobs:
  diffs:
    name: Compute diffs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.2.2

      - uses: allenporter/flux-local/action/test@8.1.0
        with:
          path: kubernetes
          enable-helm: true
          enable-kyverno: true